:root {
  --navy-blue: #03045eff;
--star-command-blue: #0077b6ff;
--cerulean-crayola: #00b4d8ff;
--sky-blue-crayola: #90e0efff;
--powder-blue: #caf0f8ff;
}


html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  /* height: 100%; */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  margin: 0
}

h1,
h2,
h3 {
  text-align: center;
  /* color: var(--fuentePrincipal); */
  margin: 0;
}

main {
  display: block;
}

.scroll{
  height: 100%;
}
