:root {
  --navy-blue: #03045eff;
  --star-command-blue: #0077b6ff;
  --cerulean-crayola: #00b4d8ff;
  --sky-blue-crayola: #90e0efff;
  --powder-blue: #caf0f8ff;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  /* height: 100%; */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  text-align: center;
  /* color: var(--fuentePrincipal); */
  margin: 0;
}

main {
  display: block;
}

.scroll {
  height: 100%;
}

.Loading {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}
.Loading > div {
  width: 18px;
  height: 18px;
  background-color: var(--star-command-blue);
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s ease-in-out infinite both;
  animation: sk-bouncedelay 1.4s ease-in-out infinite both;
}
.Loading .Loading__dot-1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.Loading .Loading__dot-2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  to {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  to {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.Main {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
  height: 100vh;
  justify-content: center;
}
.Main--center {
  -webkit-justify-content: center;
  justify-content: center;
}

.List-Posts{
  height: 100%;
  width: 75%;
  display: flex;
  padding: 3rem;
  background: rgb(0, 119, 182);
  background: linear-gradient(
    232deg,
    rgba(0, 119, 182, 1) 23%,
    rgba(0, 180, 216, 1) 62%
  );
  overflow-y: scroll;
}

.Other-Posts{
  background: rgb(122,185,196);
background: linear-gradient(232deg, rgba(122,185,196,1) 40%, rgba(202,240,248,1) 77%);
}

.Card-container{
  height: 100%;
  /* width: 100%; */
}